* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #111;
	color: #fff;
}
.card {
	border: 1px solid #ccc;
	border-radius: 0.75rem;
	padding: 2rem;
	margin: 1rem;
	text-align: center;
	box-shadow: 5px 5px 85px hsla(0, 0%, 100%, 0.391);
}
.card__img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}
